.card-container {
  display: inline-block;
  width: 100%;

  & > .card-body {
    width: 100%;
  }

  & > button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0 10px;
  }

  & svg {
    transition: all 0.5s;
  }

  &__active {
    & svg {
      transform: rotate(90deg);
    }

    & > button {
      border: 1px solid grey;
    }
  }
}
